#downloadButtonSelectImage {
    position: fixed;
    display: block;
    left: 10px;
    top: 10px;
    background-color: lightgreen;
    color: black;
    box-shadow: 10px 10px 5px #888888;
    z-index: 1000;
}

.unselectedImage {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid red;
}

.selectedImage {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid green;
}